*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}
#heading .head{
    font-size:45px;
    text-align:left;
    margin-top:100px;
    margin-left: 60px;
    font-weight:400;
    line-height: 1.6;
}
#heading .para{
    margin-left: 60px;
    width: 750px;
}
#profile{
    margin-top: 20px;
    margin-left: 60px;
}
#profile .fa-search-location{
    margin: 5px;
}
#profile p{
    font-size: 30px;
}
#profile ul{
    margin-top: 10px;
    margin-left: 0px;
}
#profile ul li{
    list-style: none;
    text-decoration: none;
}
#profile ul li a{
    text-decoration: none;
    color: #fff;
}
#profile ul li a:hover{
    color: #ff00ff;
}
#profile ul li i{
    margin: 10px;
}
#pic{
    float: right;
}
#pic img{
    position: relative;
    width: 350px;
    height: 350px;
    border: 5px solid #fff;
    border-radius:50%;
    right: 205px;
    top: -100px;
    /* mix-blend-mode: difference; */
}
#pic p{
    position: relative;
    right: 130px;
    top: -90px;
    font-size: 25px;

}
#pic p span{
    color: green;
    font-weight: bold;
}
.menu{
    position:relative;
    top: 20px;
    left: 1470px;
}
.menu > span{
    display: block;
    width: 38px;
    height: 4px;
    border-radius: 99999px;
    background-color: #fff;
}
.menu>span:not(:last-child){
    margin-bottom: 7px;
}
.menu , .manu>span{
    transition: all 0.4s ease-in-out;
}
.menu.active{
     transition-delay: 0.8s; transform: rotate (45deg);
} 
.menu.active > span:nth-child(2) { 
    width: 0;
}

.menu.active > span:nth-child(1), .menu.active > span:nth-child(3) {
     transition-delay: .4s;
}
.menu.active > span:nth-child(1) { 
    transform: translateY(9px);
}
.menu.active > span:nth-child(3) { 
    transform: translateY(-9px) rotate(90deg);
}
#model{
    display: none;
    position: relative;
    left: 60px;
    top: -660px;
    width: 90%;
    height: 100px;
    background-color:#581058;
    border: 2px solid #fff;
    border-radius:10px;

}
#modal ul{
    text-align: center;
}
#model ul li{
    list-style: none;
    padding:5px;
    display: inline;
    margin: 25px;
}
#model ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    left: 10px;

}
#model ul li a:hover{
    color: #ff00ff;
    text-decoration: overline;
}
.fa-times{
    position: relative;
    z-index: 999999;
    font-size: 35px;
    margin-left: 1320px;
    top: 25px;
    cursor: pointer;
}
.banner{
    position: relative;
    left: 300px;
    top: -45px;
    height:80px;
    width: 800px;
}

@media screen and (max-width: 360px) {
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #pic{
        position: relative;
        left: 120%;
    }
    #pic img{
        width: 200px;
        height: 200px;
        top: -50px;
    }
    #pic p{
        position: relative;
        left: -100%;
        top: -52px;
    }
    #heading{
        position: relative;
        top: -65px;
    }
    #heading .head{
        position: relative;
        left: -20px;
    }
    #heading .para{
        position: relative;
        width: 130%;
        left: -20px;
    }
    #profile{
        position: relative;
        z-index: 1;
        top: -200px;
    }
    .menu{
        left: 535px;
    }
    #model .banner{
        visibility: hidden;
    }
    #model{
        position: relative;
        width: 450px;
        height: 60px;
        top: -950px;
    }
    #model .fa-times{
        position: relative;
        font-size: 25px;
        left: -910px;
        top: 10px;
    }
    #model ul li a{
        position: relative;
        padding: 25px;
    }
    
}